#material-components
  padding: 15px
  .section
    padding: 20px 0px

// input
.example-form
  min-width: 150px
  max-width: 500px
  width: 100%

.example-full-width
  width: 100%
// radio button
.example-radio-group
  display: flex
  flex-direction: column
  margin: 15px 0

.example-radio-button
  margin: 5px

// buttons
.example-button-row
  button, a
    margin-right: 8px
